altgraph==0.17.3
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
future==0.18.3
imageio==2.22.4
imageio-ffmpeg==0.4.7
mysql-connector-python==8.0.31
numpy==1.23.5
pefile==2022.5.30
Pillow==10.0.1
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
python-dotenv==0.21.0
pywin32-ctypes==0.2.0
tk==0.1.0
wincertstore==0.2
